<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	The Schedumator app was first dreamed up by Rob during Captain of the 
	Multiverse Dr. Frank Fisher's Modeling and Simulation class in response to 
	<a href="http://personal.stevens.edu/~ffisher/me345/Matlab_me345_hw_S14.pdf"
	class="stevens-link">
	this</a> prompt.
</p>
<p> 
	<br>
	Rob, being the over achieving type (and also maybe a Computer Sceince major) 
	decided to go the extra 10 miles to address a problem many of us Stevens 
	students have struggled with: creating an awesome schedule using the current
	<a href="http://www.stevens.edu/scheduler/" class="stevens-link">Stevens Course Scheduler</a>.
	<br>
</p>
<p>
	<br>
	A common frustration was that if two course sections conflicted, a student needed to
	pseudo randomly add and delete different sections until everything magically 
	worked out; this process was often frustrating and even more often seriosuly 
	cut into prime Netflix'ng opportunities. Rob aimed to address
	this problem by allowing students to input course IDs upfront and then immediately
	showing them all possible scheduling layouts which were compatible with their 
	required course load.
	<br>
</p>
<p>
	<br>
	The initial solution to this problem was a Matlab script written by Rob
	and run on his personal machine. However it soon became apparent that this 
	would be a useful tool for many students, and so, with the Captain of the 
	Multiverse's benevolent encouragement, Schedumator was born. With no formal
	training in Ruby on Rails and a plethora of homework, Rob recruited 
	a <strike>partner</strike> Chief Scape Goat, Christina, who also had no 
	formal training in Ruby, Rails, HTML, CSS, Bootstrap, Sass, D3, or any of 
	the other miscelaneous tools required to build an awesome website. However,
	this is <i>The Innovation University</i>, so they blithely struck off towards
	the distant Internet promised land of clean code and a beautiful website.
	<br>
</p>
<p>
	<br>
	It's up to you to decide how close they are to completing the journey,
	but for now, Schedumator is available in this preliminary form for the 
	use of Stevens students everywhere (but mainly in Hoboken).
	<br>
</p>
<div class="quote">
	<h2>
		<br>
		"The problem with troubleshooting is that trouble shoots back."
	</h2>
</div>
<p>
	<br>
	The highly <strike>stationary</strike> dynamic duo has a lot of ideas
	for ways to make Schedumator more comprehensive and useful and they plan to 
	continue adding and refining features throughout the semester. If you have any ideas
	for things you'd like to see or improvements you'd like made, please let them know! 
</p>
