<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Contact Christina or Rob about the Schedumator app by walking into the CAD
	lab at virtually any hour of the day! Please don't ask us about any really 
	tricky bugs or we might look at you like this:
</p>
<div id="contact_photos">
	<table border="0">
		<tr>
			<th>Christina</th>
			<th>Rob</th>
		</tr>
		<tr>
			<td class="headshot"><%= link_to image_tag("christina.png", alt: "Christina", 
				title: "Hi, I like cronuts! Drop me a line on G+!"), 
			'https://plus.google.com/u/0/109161708399116284910/posts/p/pub' %></td>
			<td class="headshot"><%= link_to image_tag("rob.png", alt: "Rob", 
				title: "Ask me about Panera souffles! Seriously. Do it."), 
			'https://plus.google.com/u/0/109439472285004312825/posts' %></td>
		</tr>
	</table>
</div>
<p>
	Actually, please <b>do</b> tell us about any bugs. We may still look at you like 
	this, but we'd love to hear feedback so we can make the app the best it
	can be. 
</p>