<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>
	Uho, if you're here, it probably means something went wrong!
</h2>
<p>
	<br>
	Please send us an email regarding your issue and we'll get back to you as
	soon as possible. Before doing so though, feel free to take a moment to 
	meditate on the following stanza of Computer Science theology:
	<br>
</p>
<div class="quote">
	<h2>
		Beta is Latin for "still doesn’t work." </br>
		Bug is Klingon for "undocumented feature."
	</h2>
</div>
