@import "bootstrap";

/* mixins, variables, etc */
$stevensRed: #a32638;
$stevensRed10: #8a0d1f; /* darkened by 10% */
$stevensRed30: #570000; /* darkened by 30% */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* universal */
html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center { /* use dot because a class */
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.btn-primary {
	@include buttonBackground($stevensRed, $stevensRed30);
}

/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo { /* using an id instead of class because only appearing once on pg */
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $stevensRed; 
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {	/* the ampersand refers to the parent id (= #logo:hover) */
		color: white;
		text-decoration: none;
	}
}

	

/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight; 
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}


/* Miscellaneous */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


/* sidebar */
aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

.logo {
	float: left;
	margin-right: 10px;
	width: 170px;
}


/* forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* help I don't know what I'm doing! */
.headshot {
	width: 500px;
	height: 500px;
	float: center;
}

.quote {
	h2 {
		font-style: italic;
		font-family: Papyrus, fantasy;
		font-size: 1.7em;
		font-weight: bold;
		color: $stevensRed;
		padding-top: 15px;
	}
}

.stevens-link{
	color: $stevensRed;
	font-weight: bold;
	&:hover {	
		color: $stevensRed10;
		font-decoration: none;
	}
}

.chart{
	rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
    }

    text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #aaa;
    }

    text.axis-workweek {
        fill: #000;
    }

    text.axis-worktime {
        fill: #000;
    }
}