@import "bootstrap";

/* mixins, variables, etc */
$stevensRed: #a32638;
$stevensRed10: #8a0d1f; /* darkened by 10% */
$stevensRed30: #570000; /* darkened by 30% */
$grayMediumLight: #eaeaea;


/* universal */
html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center { /* use dot because a class */
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.btn-primary {
	@include buttonBackground($stevensRed, $stevensRed30);
}

/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

#logo { /* using an id instead of class because only appearing once on pg */
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: $stevensRed; 
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {	/* the ampersand refers to the parent id (= #logo:hover) */
		color: white;
		text-decoration: none;
	}
}

	

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight; 
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}


/* help I don't know what I'm doing! */
.headshot {
	width: 500px;
	height: 500px;
	float: center;
}

.quote {
	h2 {
		font-style: italic;
		font-family: Papyrus, fantasy;
		font-size: 1.7em;
		font-weight: bold;
		color: $stevensRed;
		padding-top: 15px;
	}
}

.stevens-link{
	color: $stevensRed;
	font-weight: bold;
	&:hover {	
		color: $stevensRed10;
		font-decoration: none;
	}
}